.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

.bg-image {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../../../public/assets/images/bg-image.png");
}

@media screen and (max-width: 1368px) {
  /* Specific to this particular image */
  .bg-image {
    left: 50%;
    margin-left: -512px; /* 50% */
    background-image: url("../../../public/assets/images/bg-image.png");
  }
}

.App {
  border: 2px solid #d3d3d3;
  border-radius: 0.5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 1em;
  text-align: left;
  width: 600px;
  .btn-container {
    justify-content: center;
    align-items: center;
    display: grid;
    margin-bottom: 10px;
    .btn-generic {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 400px;
    }
    .or-label {
      justify-content: center;
      text-align: center;
      align-items: center;
      display: flex;
      color: #ffd700;
      margin-block: 10px;
    }
  }
}

.form {
  padding: 1em;
}

label {
  font-weight: 600;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}
